<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Fundación GuitArt</title>
  <meta content="" name="description">
  <meta content="" name="keywords">
  <%- include('partials/head') %>
 
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header">
    <div class="container-fluid">

      <div class="logo">
        <h1><a href="/">Fundación GuitArt</a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
      </div>

      <button type="button" class="nav-toggle"><i class="bx bx-menu"></i></button>
      <nav class="nav-menu">
        <ul>
          <li class="active"><a href="#header" class="scrollto">Home</a></li>
          <li><a href="https://myguitarmetrics-uat.up.railway.app/signin" class="scrollto">Acceso Miembros</a></li>
          <li><a href="#quehayadentro" class="scrollto">¿Qué Encontrarás?</a></li>
          <li><a href="#why-us" class="scrollto">¿Por qué elegirnos?</a></li>
          <li><a href="#faq" class="scrollto">Preguntas Frecuentes</a></li>
          <li><a href="#news" class="scrollto">Noticias</a></li>
        </ul>
      </nav><!-- .nav-menu -->

    </div>
  </header><!-- End #header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero">
    <div class="hero-container">
      <h1>Fundación GuitArt</h1>
      <h2>Servicios artísticos enfocados a tu actividad favorita</h2>

       <a href="https://myguitarmetrics-uat.up.railway.app/signin" class="php-email-form"> 
        <div class="text-center"><button type="submit">Acceso Miembros</button></div>
      </a> 

      <br>
      <br>

          <div>
            <a href="https://twitter.com" class="twitter"><i class="bx bxl-twitter" style="font-size: 2rem; color: #fff;"></i></a>
            <a href="https://www.facebook.com" class="facebook"><i class="bx bxl-facebook" style="font-size: 2rem; color: #fff;"></i></a>
            <a href="https://www.instagram.com" class="instagram"><i class="bx bxl-instagram" style="font-size: 2rem; color: #fff;"></i></a>
            <a href="https://www.youtube.com/" class="youtube"><i class="bx bxl-youtube" style="font-size: 2rem; color: #fff;"></i></a>
          </div>

         
       

  </section><!-- #hero -->

  <main id="main">

    <!-- ======= Que hay Section ======= -->
    <section id="quehayadentro" class="about">
      <div class="container">

        <div class="row">
          <div class="col-lg-6">
            <img src="https://images.pexels.com/photos/4680084/pexels-photo-4680084.jpeg" class="img-fluid" alt="">
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0">
            <h3>¿Quienes somos y qué te ofrecemos?</h3>
            <p class="fst-italic">
                Somos un nuevo espacio con presencia física en la ciudad de Villavicencio, (Colombia) cuya finalidad es proporcionar lo que necesitas para lograr tus objetivos artísticos. Disponemos de espacios presenciales y virtuales, disfruta contenidos gratuitos, agrega otros contenidos externos a tus rutinas, contacta a nuestro staff y mucho más..
            </p>
            <ul>
              <li><i class="bx bx-check-double"></i> Encuentra el mejor espacio físico para ensayar con tu banda</li>
              <li><i class="bx bx-check-double"></i> Desarrolla tu economía artística: Aprende a vivir de lo que más te gusta</li>
              <li><i class="bx bx-check-double"></i> Recibe nuestro apoyo y orientación, visualiza tu dashboard analítico personal</li>
              <li><i class="bx bx-check-double"></i> Encuentra contenidos educativos nuevos y gratuitos cada semana</li>
              <li><i class="bx bx-check-double"></i> Desbloquea nuevos contenidos en la medida en que progresas</li>
              <li><i class="bx bx-check-double"></i> Evalúa tus niveles actuales, logra tus objetivos</li>
              <li><i class="bx bx-check-double"></i> Comparte tus resultados, recibe feedback de otros</li>
            </ul>
            <p>
            </p>
          </div>
        </div>

      </div>
    </section><!-- End About Section -->

    <!-- ======= Why Us Section ======= -->
    <section id="why-us" class="why-us section-bg">
      <div class="container">

        <div class="row">
          <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
            <div class="card">
              <img src="https://images.pexels.com/photos/1589280/pexels-photo-1589280.jpeg" class="card-img-top" alt="...">
              <div class="card-icon">
                <i class="bx bx-book-reader"></i>
              </div>
              <div class="card-body">
                <h5 class="card-title"><a href="">Nuestra Misión</a></h5>
                <p class="card-text">Nuestra misión es ayudar a los amantes de la guitarra eléctrica, brindándoles un espacio para alcanzar metas artísticas mediante herramientas colaborativas y contenidos gratuitos que permitan el desarrollo de habilidades musicales y el logro de objetivos concretos. Queremos ser un compañero para aquellos que deseen embarcarse en este emocionante viaje musical </p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
            <div class="card">
              <img src="assets/img/why-us-2.jpg" class="card-img-top" alt="...">
              <div class="card-icon">
                <i class="bx bx-calendar-edit"></i>
              </div>
              <div class="card-body">
                <h5 class="card-title"><a href="">Nuestros Planes</a></h5>
                <p class="card-text">Nuestros planes buscan brindar todo el soporte necesario para ayudarte en el desarrollo de tus objetivos artísticos, integrando la práctica de instrumento y además la tecnología disponible para producir tu música. Además, estamos comprometidos en ofrecer las mejores experiencias de aprendizaje para todos los niveles </p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
            <div class="card">
              <img src="assets/img/why-us-3.jpg" class="card-img-top" alt="...">
              <div class="card-icon">
                <i class="bx bx-landscape"></i>
              </div>
              <div class="card-body">
                <h5 class="card-title"><a href="">Nuestra Visión</a></h5>
                <p class="card-text">Nuestra visión es ser la mejor opción en la región para ayudar no sólo en el aprendizaje de la guitarra eléctrica, sino también al entendimiento del funcionamiento de las economías artísticas. Enseñamos todo lo necesario para vivir de lo que nos gusta. Queremos inspirar y empoderar a los músicos en su camino artístico.</p>
              </div>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End Why Us Section -->

    <!-- ======= Frequenty Asked Questions Section ======= -->
    <section class="faq" id="faq">
      <div class="container">

        <div class="section-title">
          <h2>Preguntas Frecuentes</h2>
        </div>

        <ul class="faq-list">
          
          <li>
            <a data-bs-toggle="collapse" class="collapsed" data-bs-target="#faq1">¿Dónde estamos ubicados? <i class="bx bx-down-arrow-alt icon-show"></i><i class="bx bx-x icon-close"></i></a>
            <div id="faq1" class="collapse" data-bs-parent=".faq-list">
              <p>
                Nuestra sede principal queda en el Barrio Barzal, en Villavicencio (Colombia)
              </p>
              <br>
              <div class="row justify-content-center">
                <iframe src="https://www.google.com/maps/embed?pb=!1m17!1m12!1m3!1d3979.387521505082!2d-73.64120179999999!3d4.1439501!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m2!1m1!2zNMKwMDgnMzguMiJOIDczwrAzOCcyOC4zIlc!5e0!3m2!1ses-419!2sco!4v1708525748933!5m2!1ses-419!2sco" width="800" height="600" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
              </div>
            </div>
          </li>

          <li>
            <a data-bs-toggle="collapse" data-bs-target="#faq2" class="collapsed">¿Qué servicios ofrecemos? <i class="bx bx-down-arrow-alt icon-show"></i><i class="bx bx-x icon-close"></i></a>
            <div id="faq2" class="collapse" data-bs-parent=".faq-list">
            <br>
              <ul>
                <li>Sala de ensayo con el mejor backline de la ciudad</li>
                <li>Clases de Guitarra personalizadas y grupales</li>
                <li>Clases de Bajo</li>
                <li>Laboratorio de ensambles: Rock, Metal, Jazz, Funk, Fusión</li>
                <li>Producción musical: Graba tu música en nuestro espacio y con nuestra ayuda</li>
                <li>Eventos: Sonido en Vivo, Streaming de eventos, Alquiler de Backline</li>
              </ul>  
            </div>
          </li>

          <li>
            <a data-bs-toggle="collapse" data-bs-target="#faq3" class="collapsed">¿Qué encuentro en el espacio virtual? <i class="bx bx-down-arrow-alt icon-show"></i><i class="bx bx-x icon-close"></i></a>
            <div id="faq3" class="collapse" data-bs-parent=".faq-list">
              <p>
                Encontrarás tu dashboard personal con tecnología de Learning Analytics para acompañar tu proceso de  aprendizaje, acceso a contenidos que estaremos actualizando, y además una comunidad Discord exclusiva para compartir tus preguntas y recibir todas nuestras recomendaciones y experiencias 
              </p>
            </div>
          </li>

          <li>
            <a data-bs-toggle="collapse" data-bs-target="#faq4" class="collapsed">¿Quienes hacen parte del staff de GuitArt? <i class="bx bx-down-arrow-alt icon-show"></i><i class="bx bx-x icon-close"></i></a>
            <div id="faq4" class="collapse" data-bs-parent=".faq-list">
              <p>
                Concoce nuestro Staff haciendo clic aquí
              </p>
            </div>
          </li>

          <li>
            <a data-bs-toggle="collapse" data-bs-target="#faq5" class="collapsed">¿Cómo contactarnos? <i class="bx bx-down-arrow-alt icon-show"></i><i class="bx bx-x icon-close"></i></a>
            <div id="faq5" class="collapse" data-bs-parent=".faq-list">
              <p>
                Puedes contactarnos a través de nuestras redes sociales, vía e-mail a info@blabla.com o via WhatsApp al xxx-xxxxxxx.
              </p>
            </div>
          </li>

        </ul>

      </div>
    </section><!-- End Frequenty Asked Questions Section -->

    <!-- ======= Twitter News Section ======= -->
    <section id="news" class="contact section-bg">
        <div class="container">

            <div class="section-title">
            <h2>Noticias</h2>
            </div>

            <div class="row justify-content-center">
                <div class="col-lg-5 mx-auto text-center">
                    <a class="twitter-timeline" width="480" height="400" href="https://twitter.com/fund_guitart">Tweets by
                        GuitArt</a>
                    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                </div>
            </div>

        </div>
    </section><!-- End Contact Us Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong><span>GuitArt</span></strong>. 2024
      </div>
      
    </div>
  </footer><!-- End #footer -->

  <!-- Vendor JS Files -->
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="assets/js/main.js"></script>

</body>

</html>